@mixin square ($color, $width:200px) {
 background: $color;
  width: $width;
  height: 200px;
  margin-top: 5px;
  padding: 10px; 
}
.square-one{
  @include square(#3c6085, 300px);
}
.square-two{
  @include square(#51be43, 100px);
}
.square-three{
  @include square(#b93737);
}