@import "variables";
@import "header";
section{
  background: $yellowColor;
  h1{
    background: $orangeColor;
  }
  h2{
    background: $pinkColor;
  }
  p{
    background: #6a2c70;
  }
}
footer{ 
  background: #444;
  h4{ 
    color: $yellowColor;
    a{ 
      color: green;
    }
  }
}